---
import { AnimatedGradientText } from '../magicui/animated-gradient-text';
---

<section class="stay-productive relative z-10 pt-40 lg:pt-32 md:pt-24 sm:pt-16">
  <div class="bg-white p-20">
    <h1 class="text-5xl md:text-7xl font-semibold tracking-tighter text-black pb-7">
      Why settle for regular?
      <br />
      When there is
      <AnimatedGradientText className="tracking-tighter" colorFrom="#ffaa40" colorTo="#1a0024">
        Premium
      </AnimatedGradientText>
    </h1>
    <div class="w-full h-[80vh]">
      <div class="orb"></div>
    </div>
  </div>
</section>
