---
import logo from '~/assets/images/other/logo.webp';
import Logo from '~/components/Logo.astro';
import { AnimatedGradientText } from '~/components/magicui/animated-gradient-text';
import Button from '~/components/ui/Button.astro';
import { ButtonGradient } from '~/components/ui/ButtonGradient';
import FeatureCard from '~/components/ui/FeatureCard.astro';
import GridPattern from '~/components/ui/GridPattern.astro';
import ContactForm from '~/components/widgets/ContactForm.astro';
import Marquee from '~/components/widgets/Marquee.astro';
import Test from '~/components/widgets/Test.astro';
import TestimonialsCustom from '~/components/widgets/TestimonialsCustom.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Cherubim IT | Empower the web community',
  description:
    'Cherubim IT empowers the web community and invites more to build across platforms with powerful tools and frameworks.',
  ignoreTitleTemplate: true,
  canonical: 'https://cherubimit.com',
  openGraph: {
    title: 'Cherubim IT | Empower the web community',
    description:
      'Cherubim IT empowers the web community and invites more to build across platforms with powerful tools and frameworks.',
    type: 'website',
    image: logo,
  },
  twitter: {
    handle: '@CherubimIT',
    site: '@CherubimIT',
    cardType: 'summary_large_image',
  },
};
---

<Layout metadata={metadata}>
  <div
    class="rotate-180 [--color:var(--orange)] pointer-events-none relative -z-[2] mx-auto h-[50rem] overflow-hidden [mask-image:radial-gradient(ellipse_at_center_center,#000,transparent_70%)] my-[-18.8rem]
      before:absolute before:inset-0 before:h-full before:w-full before:opacity-30 before:[background-image:radial-gradient(circle_at_top_center,var(--color),transparent_70%)]
      after:absolute after:-left-1/2 after:top-1/2 after:aspect-[1/0.7] after:w-[200%] after:rounded-[50%] after:border-t after:border-b after:border-[white] after:bg-page after:[transform:scaleY(-1)] after:[box-shadow:0_0_40px_10px_var(--orange),0_0_40px_10px_var(--orange)_inset]"
  >
  </div>

  <div class="absolute top-0 left-0 w-full">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 pt-4">
      <Logo />
    </div>
  </div>

  <Marquee />
  <!-- <div class="orb"></div> -->

  <div class="min-h-[88vh]">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      <!-- Hero Section with Background Grid -->
      <div class="relative flex overflow-visible pt-10">
        <!-- Content -->
        <div class="relative flex flex-col">
          <h1
            class="relative z-30 max-w-[666px] font-title text-[84px] font-semibold leading-[0.9] tracking-tight lg:max-w-[608px] lg:text-[84px] md:max-w-[521px] md:text-[56px] sm:max-w-64 sm:text-[32px]"
          >
            <AnimatedGradientText className="tracking-tighter" colorFrom="#ffaa40" colorTo="#1a0024"
              >Premium</AnimatedGradientText
            >
            <span
              class="bg-gradient-to-br from-white from-30% via-[#d5d8f6] via-80% to-[#fdf7fe] bg-clip-text text-transparent"
            >
              website
              <br />
              for you brand
            </span>
          </h1>

          <!-- sm:max-w-[248px]  -->
          <p
            class="relative z-30 mt-5 max-w-md text-[18px] leading-snug tracking-tight text-grey-90 lg:mt-4 md:mt-3.5 md:text-[18px] sm:mt-3 sm:text-[15px]"
          >
            <br />
            Cherubim IT, create yourself a brand and <br />
            a presence you are confident to present
          </p>

          <div class="flex flex-col sm:flex-row gap-3 mt-11 lg:mt-9 md:mt-7 sm:mt-5">
            <Button
              class="bg-white/5 backdrop-blur-lg hover:bg-white/10 border-0 text-white h-12 w-37 rounded-full text-base font-semibold"
            >
              Why Cherubim
            </Button>
            <ButtonGradient />
          </div>
        </div>
      </div>

      <GridPattern fadeDirection="both" fadeHorizontal="none" />

      <div
        class="[--color:var(--violet2)] pointer-events-none relative -z-[2] mx-auto h-[50rem] overflow-hidden [mask-image:radial-gradient(ellipse_at_center_center,#000,transparent_70%)] my-[-18.8rem]
      before:absolute before:inset-0 before:h-full before:w-full before:opacity-30 before:[background-image:radial-gradient(circle_at_top_center,var(--violet2),transparent_70%)]
      after:absolute after:-left-1/2 after:top-1/2 after:aspect-[1/0.7] after:w-[200%] after:rounded-[50%] after:border-t after:border-b after:border-[hsl(var(--border))] after:bg-transparent after:[transform:scaleY(-1)] after:[box-shadow:0_0_40px_10px_var(--violet2),0_0_40px_10px_var(--violet2)_inset]"
      >
      </div>
    </div>
  </div>

  <FeatureCard />

  <Test />

  <TestimonialsCustom />

  <!-- Contact Form with decorative elements underneath -->
  <div
    class="relative pt-10 pb-10"
    style="border-top: 1px solid; border-image: linear-gradient(90deg,#0000 30%,#c8c8c880 50%,#0000 70%) 1;"
  >
    <ContactForm />

    <!-- Bottom decorative elements -->
    <div class="absolute -z-10 w-full h-0 overflow-visible bottom-[50vh]">
      <div class="relative" style="height: 50vh;"></div>
    </div>
  </div>
</Layout>
