---
import logo_transparent from '~/assets/images/logo2.webp';
import Image from '~/components/common/Image.astro';
---

<span class="flex flex-row gap-1">
  <Image
    class={'w-8 h-8'}
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    loading="eager"
    width={32}
    height={32}
    src={logo_transparent}
    alt="Logo"
  />

  <p class="text-2xl font-bold text-white pt-1">Cherubim IT</p>
</span>
